/* -- Global rules -- */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: rgba(34, 36, 54, 0.6);
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio-slider,
#network,
#language {
  color: #161320;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#custom-archicon,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the rigth */
#temperature,
#network {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
  font-size: 20px;
  color: #89B4FA;
  background: #161320;
  padding-right: 17px;
}

#clock {
  color: #96CDFB;
  background: transparent;
}

#cpu {
  background: #96CDFB;
}

#memory {
  background: #DDB6F2;
}

#disk {
  background: #F5C2E7;
}

#temperature {
  background: #F8BD96;
}

/* Modules center */
#workspaces {
  background: rgba(34, 36, 54, 0.6);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #d0d0d0;
  background: rgba(69, 71, 90, 0.8);
  padding: 6px 10px;
  margin: 2px;
  border-radius: 6px;
  min-width: 30px;
}

#workspaces button:hover,
#workspaces button.occupied:hover,
#workspaces button.visible:hover {
  box-shadow: none;
  /* Remove predefined box-shadow */
  text-shadow: none;
  /* Remove predefined text-shadow */
  background: none;
  /* Remove predefined background color (white) */
  transition: none;
  /* Disable predefined animations */

  background: rgba(85, 87, 110, 0.9);
  color: #f0f0f0;
}

#workspaces button.occupied,
#workspaces button.visible {
  background: rgba(69, 71, 90, 0.8);
  color: #d0d0d0;
}

#workspaces button.focused {
  background: #96CDFB;
  color: #161320;
}

#workspaces button.urgent {
  background: #F5C2E7;
  color: #161320;
}

/* Modules right */
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(85, 87, 110, 0.7);
}

#taskbar button:hover {
  background: rgba(85, 87, 110, 0.6);
}

#idle_inhibitor {
  background: #B5E8E0;
  padding-right: 15px;
}

#pulseaudio {
  min-width: 55px;
  color: #1A1826;
  background: #F5E0DC;
}

#pulseaudio-slider {
  color: #1A1826;
  background: #E8A2AF;
  min-width: 50px;
}

#pulseaudio-slider slider {}


#network {
  background: #CBA6F7;
  padding-right: 15px;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}

#custom-notifications {
  color: #be7cfc;
  font-size: 20px;
  /* transition: background 0.2s; */
  /* padding: 0px 15px; */
  min-width: 25px;
  padding-right: 12px;
  /* fixes icon slightly leaning towards right */
}
