[user]
    name = Matthew M. Keeler
    email = keelerm84@gmail.com
[color]
    ui = auto
[github]
    user = keelerm84
[core]
    filemode = false
    excludesfile = ~/.gitignore
[include]
    path = ~/.config/git/overrides
[push]
	default = simple
